.clock_container{
    position:relative;
    border-radius:50%;
}
.display_num{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:40px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}
.time_dis{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.time_dis span{
    font-size: 50px;
}

.pointer{
    height:0;
    width:0;
    background-clip:unset;
    border-left: 8px solid;
    border-right: 8px solid;
    position:relative;
    left:50%;
}

